body{
background-color:goldenrod

}s


.form-control{
    background-color:rgb(0, 225, 255);
    padding: 22px;
    border: none;
    border-radius:25px;
}

.search-box{
    position: relative;
    border-radius: 50px;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 25px;
    padding: 9px 20px;
}
